<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<div  th:fragment="div"  class="container-fluid p-5" style="background:#EFDECD;">
    <h1 class="display-4 mb-4">Other roles</h1>
    <div class="card-deck mx-3">
        <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
            <div class="card-body"> Some more card content </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
            <div class="card-body"> Some more card content </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
            <div class="card-body"> Some more card content </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pathToYourImage.png" alt="Card image cap">
            <div class="card-body"> Some more card content </div>
        </div>
    </div>
</div>


</body>
</html>